@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
  body {
    font-family: "Poppins", sans-serif;
  }
  li {
    @apply px-4 cursor-pointer;
  }
  img {
    @apply block max-w-full;
  }
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track-piece {
    background: #0a192f;
  }
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #0a192f;
  }
  ::-webkit-scrollbar-thumb {
    background: #c0a0b9;
    border-radius: 100vh;
    border: 1px solid #0a192f;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: gray;
  }
}
